<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>49986215</string>
		<key>location</key>
		<string>Freedom, California</string>
		<key>title</key>
		<string>Camper/RV in Half Moon Bay, California</string>
		<key>capacity</key>
		<string>12 guests • 3 bedrooms • 6 beds • 3 baths</string>
		<key>distance</key>
		<string>50 miles away</string>
		<key>availability</key>
		<string>5 nights * Feb 4- 9</string>
		<key>rating</key>
		<string>4.95</string>
		<key>url</key>
		<string>https://www.airbnb.com/rooms/49986215</string>
		<key>description</key>
		<string>On 9 private acres overlooking the stunning Beach and Pacific ocean from a breathtaking cliff top view. Stunning sunrises and sunset greet you in this fully equipped new 2022 Airstream. Fully loaded with all the amenities to make your glamping experience perfect. Fire pit, outside BBQ, outside griddle, A/C and fully stocked kitchen. Comes will full bathroom with shower. Truly a rare experience and located within 10 mins of Half Moon Bay shopping. Beach access short walk or drive.
The space
These unmatched views and private location comes fully loaded with the new Airstream. Features all the amenities, comfort and ease associated with Airstream living

Perfectly placed higher on a cliff over looking the Beach; this original experience will offer the most intimate, unreal and calming views around.

About The Airstream:

New Airstream with two beds; (Queen) and Double convertible.

Parking next to the Airstream

2 adults fit comfortably on the spacious queen size bed with views overlooking the ocean and beach

Convertible double bed located in the dinette area

AC units inside Airstream

Surround sound blue tooth speakers

TVs and Bluetooth speaker

Gas stove top

Large closet with hangers

Cozy blankets

Separate shower and bathroom with hot-water

Full kitchen

large microwave

Refrigerator with freezer unit

Pots/pans, utensils and basic cooking needs (oil, spices, S&amp;P)

Pour-over coffee

Dishware, coffee mugs, glasses, cocktail and wine glasses

Outdoor living:

large fire pit with custom Adirondack chairs

S&apos;mores sticks w/ complimentary S&apos;more making kit!!!

Gas BBQ

Separate outdoor gas griddle top

Set of retraceable lawn chairs

Games, books and fun

Wifi throughout
Guest access
9 acres of property and trails.
Other things to note
No children please: safety reasons. 2 guest limit.</string>
		<key>images</key>
		<array>
			<string>https://a0.muscache.com/im/pictures/38691cf9-b5c6-4052-bc79-60ea4a6ace72.jpg?im_w=1200</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>889189502572660333</string>
		<key>location</key>
		<string>Austin, Texas</string>
		<key>title</key>
		<string>Relaxing Bay view home w/ hottub</string>
		<key>capacity</key>
		<string>6 guests • 2 bedrooms • 4 beds •2 baths</string>
		<key>distance</key>
		<string>75 miles away</string>
		<key>availability</key>
		<string>5 nights * Feb 1-6</string>
		<key>rating</key>
		<string>4.96</string>
		<key>url</key>
		<string>https://www.airbnb.com/rooms/889189502572660333</string>
		<key>description</key>
		<string>Built in 1950, this Mid-Century Modern gem has stunning views of the San Francisco Bay from every room in the house. It is well equipped with modern appliances, two bedrooms (w/ awesome beds), two bathrooms, a super cozy couch. The home is very private w/ outdoor spaces galore and your own bubbling hot tub. Whether you come here to relax or play, you will love how tranquil the space is. Minutes to downtown Oakland and the Zoo with easy access to San Francisco.
Other things to note
Welcome Friends!

Relaxing Bay View Home w/ Hot Tub
2 bedrooms, 2 bathrooms
Max # of Occupants: 5
Max # of Animals: 2
*Please read out entire listing before booking :)

When you enter the home you will be greeted by sweeping views of Oakland, SF and the Bay. There are Bay views from every room in the house and the sunsets are to die for. The upper floor is open concept and boasts the living room, office, dining room, kitchen, bedroom with full bed and full bathroom. The living room couch is incredibly comfortable and this is where your fifth guest may sleep.

The lower level is a primary suite with King bed and its own full bathroom. The bathtub is a little funky (previously refinished and starting to show wear in the finish) but the water pressure is exceptional. A second office/walk in closet and laundry area completes this level.

The hot tub is located right off the primary bathroom and can also be accessed down the side stairs by the succulent garden. The views from the hot tub are exceptional and the hot tub is covered allowing for cozy tubs during any type of weather. During the warmer summer and fall months we suggest turning the hot tub down from 104 degrees to 100 degrees. It makes for a more refreshing visit.

HIGHLIGHTS
1. Stunning Bay Views &amp; Sunsets
2. Bubbling Hot Tub
3. Very private Indoor &amp; Outdoor Spaces
4. Pet Friendly!
5. Cosy House Bedding &amp; Towels
6. Surrounded by Nature

OUR NEIGHBORHOOD
Our neighborhood is very friendly and there is a 10 acre open space off-leash dog park nearby with lovely hiking trails that wrap around the hill. The views and nature are incredibly satisfying and we hope you have a chance to check explore.

GETTING AROUND
Our neighborhood is central to everything in Oakland, however it is also very much off the beaten path. Please plan for most travel requiring a car. It is 8 minutes to the nearest grocery store, 8 minutes to the Oakland Zoo, 10 minutes to Downtown Oakland/BART, and 20-60 minutes to San Francisco depending upon traffic. The best times of day to travel are between 9am and 2pm to avoid traffic on the highways.

PARKING
Guests are welcome to park in the driveway, just in front of the driveway gate. There is also ample street parking. Given that the front gate can be mechanically temperamental, we are not offering secured parking or garage access at this time.

AIR CONDITIONING
Please note that we do not have AC. Oakland&apos;s hottest month is October, although July - November can average between 72 and 80 degrees. In October the temperature can reach the mid 90&apos;s and on very rare days, 100 degrees. There are three ceiling fans on the upper level and a window AC unit in the upper bedroom if you really need to cool off. We&apos;ve found that keeping the blinds, doors and windows closed on the upper floor in the morning keeps the house nice and cool through the afternoon. We specifically picked the blinds on the upper floor to keep the sun out but allow the views in so you will not be without beautiful vistas while you stay cool.

SMART TV(s)
Please note that while we do have Smart TV&apos;s, we DO NOT offer cable TV. There is an app via Samsung that allows you to watch many additional channels, but the primary feature we offer is the ability to login and stream your own services such as Netflix, Apple TV, Hulu, etc from either TV. Please be sure to log out of your apps before you leave!

PET FEE
There is a $75 pet fee per pet and your pets must be:
a) well-behaved
b) house trained

PET RULES
1. 2 dogs max!
2. Make sure they go potty outside and pick up their poop.
3. Trim their nails (especially big dogs) before your arrival as to avoid any additional damage to the hardwood floors.
4. Do not leave them unattended in the house, unless they are crated.
5. Do not let them on the couch/bedding if they are heavy shedders. A cozy dog bed has been provided for them to use.
6. If you intend to let them outside unattended, walk the property to ensure that all gates are closed and that they cannot jump the fence (some large dogs are incredible jumpers!).
7. Keep them leashed on walks in the neighborhood.
8. Wipe their feet and do not let them in on the carpet with wet or muddy paws.

HOUSE RULES
Our house rules are simple, first and foremost, enjoy yourself! You are here to relax and rejuvenate. With that in mind, please adhere to the following house rules while you enjoy your stay:

Quiet Hours:
Quiet hours are 11PM-8AM. You are still welcome to hot tub during the hours between, but please no loud music or conversation.

No shoes inside:
Please remove your shoes when in the home, especially on the carpet downstairs.

No smoking inside the home:
Please remember that there is NO SMOKING of any kind inside the home. What you do outside of the home is up to you. If you do smoke, please use a can or bottle to dispose of your butts and throw them in the outside trash when you leave.

Shower Before You Hot Tub:
Please be sure to rinse off before entering the hot tub. The objective is to make sure all hair products, lotions, and natural body oils are rinsed away before entering the spa sanctuary.

Our hot tub technician (Tony) will service the hot tub every Monday between 12pm and 2pm. There’s nothing you need to do but be aware of this as he will let himself onto the property to do the job. Please wait at least one hour after he&apos;s gone to enjoy the tub again. This will allow the water to come back to a balanced state before you enjoy it.

REVIEWS
We kindly ask for your understanding and compassion when sharing feedback about our home. We understand that each experience can vary, and what might not meet one person&apos;s expectations may exceed another&apos;s. We genuinely value your input, appreciate your feedback and are committed to making this the most comfortable home you&apos;ve ever visited. Should you need help with anything or have questions about something that will improve your stay, please do not hesitate to reach out during your stay so that we can help you.

Thank you kindly
Georgia + Asher</string>
		<key>images</key>
		<array>
			<string>https://a0.muscache.com/im/pictures/7accc1b8-639d-4bd1-be75-9da488c4b0dc.jpg?im_w=1200</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>680532366698763136</string>
		<key>location</key>
		<string>Santa Barbra, CA</string>
		<key>title</key>
		<string>Five Bedroom Beachfront Home in Capitola Village</string>
		<key>capacity</key>
		<string>12 guests • 5 bedrooms • 6 beds • 3 baths</string>
		<key>distance</key>
		<string>25 miles away</string>
		<key>availability</key>
		<string>3 nights * Feb 10 - 13</string>
		<key>rating</key>
		<string>4.89</string>
		<key>url</key>
		<string>https://www.airbnb.com/rooms/680532366698763136</string>
		<key>description</key>
		<string>This is a beautiful, iconic, beachfront property in the famous Capitola Village overlooking the water. This is one of the iconic &quot;Six Sisters&quot; properties that have not been available to rent in years! You can enjoy a charming brightly lit 5 bedroom home with a patio area just a few steps to the sand, restaurants, and shops! The home is fully equipped with everything you need for a wonderful vacation away from home, and plenty of entertainment if you choose to spend the night in or out!
The space
- Comfortably sleeps up to 12 adults
- 5 bedrooms
- 2 bathrooms - Please note: The upstairs bathroom is shared and is pass way to the back 2 bedrooms, due to the historic build there is not a lock on the bathroom door to the back bedrooms.
- 1 designated parking space + 1 parking permit for street parking
- Fully stocked kitchen w/ drip coffee maker
- Cozy living room with ocean view
- Front patio with BBQ &amp; plenty of seating

Note:
- No gatherings or parties allowed (strictly enforced)
- The exterior of this home is monitored by 24/7 surveillance recording devices for safety.
- Smart TVs with streaming capabilities (no local channels or cable).
- NO PETS

Permit: 22-0337
Guest access
Guests will have access to the whole house, other than a few closets reserved for storage.
Other things to note
- This neighborhood is very lively and on a main road, so there is some traffic noise throughout the day and occasionally at night.
- Please keep in mind, parking can be quite tough in Capitola Village, there is one onsite parking spot and we provide a permit so a second vehicle can park in town for free.
- The layout of this house is a little unique and two bedrooms upstairs must pass through a common bathroom. For safety reasons, the bathroom door to the back rooms does not have a lock.
- We are required to stick to our cancellation policy and we suggest adding trip insurance for any last minute issues that may impact your travel (Weather, Illness, etc). We are not able to cancel, move or refund bookings that do not fall in our cancellation policy for any reason.
- We have landscapers, pest service, and other property maintenance done on a weekly basis. You may see or hear these service professionals during your stay as they let themselves into the backyard to service as needed. Please be sure to ask about this before booking if you think it might be an issue for you.
- TV is a smart tv with streaming capabilities. There are no cable or local channels.
- The exterior of this home is monitored by 24/7 surveillance recording devices for safety.

***Please note: If you are booking this property during an event, the parking spot may not be available as the city of Capitola will often times block off Esplanade for these events. There is a parking pass inside the home that you can use to park around the village***</string>
		<key>images</key>
		<array>
			<string>https://a0.muscache.com/im/pictures/prohost-api/Hosting-680532366698763136/original/17f39935-3104-40db-9510-b1387190c346.jpeg?im_w=1200</string>
		</array>
	</dict>
</array>
</plist>
