<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>assistant_id</key>
		<string>asst_FyfjTT7lMGngr5YS5YLlxClY</string>
		<key>id</key>
		<string>46695796</string>
		<key>location</key>
		<string>Lac-Beauport, Canada</string>
		<key>title</key>
		<string>MICA - Panoramic view close to Quebec City</string>
		<key>capacity</key>
		<string>4 guests • 2 bedrooms • 4 beds • 1 bath</string>
		<key>distance</key>
		<string>400 miles away</string>
		<key>availability</key>
		<string>5 nights * June 2- 7</string>
		<key>rating</key>
		<string>4.98</string>
		<key>url</key>
		<string>https://www.airbnb.com/rooms/46695796</string>
		<key>description</key>
		<string>Listing: MICA - Panoramic view close to Quebec City
Listing URL: https://www.airbnb.com/rooms/46695796

Step into the world of &quot;MICA&quot;, an upscale micro-house nestled atop the mountain. Immerse yourself in a captivating scenic experience, a mere 30-minute drive from Old Quebec.

Indulge in a breathtaking view of the valley and mountains, along with awe-inspiring sunsets from the comfort of your bed. Embark on a journey akin to a national park experience through the mountain&apos;s distinctive topography by navigating recreational trails accessible year-round.

Let yourself be seduced by one of the most majestic and unique residences in the Quebec region.

Thanks to its minimalist design with clean lines, this micro-house seamlessly integrates into its environment, providing a privileged setting to contemplate the splendor of nature. Like the mineral that makes up the characteristic rocky outcrops of the region, Mica clings to the mountainside, revealing a breathtaking panorama.

The master bedroom, located upstairs, features a queen-size bed offering vertiginous views on the mountains stretching as far as the eye can see. Full-size windows on both levels allow you to admire the beauty of the landscape in every season.

Enjoy year-round comfort with heated floors throughout the house, a central heating/cooling system, and a gas stove ensuring enveloping warmth even on the coldest winter days.

A combination of superposed beds upstairs and a sofa bed on the first floor will accommodate extra guests comfortably .

The kitchen is equipped with all the modern amenities you could desire: refrigerator, freezer, dishwasher, microwave, oven, Nespresso coffee machine, and a complete set of cookware for preparing delicious meals at home. Outdoor amenities such as the barbecue and wood fireplace are operational year-round, providing you the opportunity to fully enjoy the outdoor space.

Just twelve minutes away, discover a high-end supermarket, a bakery offering fresh morning croissants and special bread, as well as a selection of local restaurants to satisfy all your culinary cravings.

Activities Nearby:

When you&apos;re ready to explore the surroundings, you&apos;ll have numerous options:

Snowshoeing: On the property.
Fatbiking: Access trail at 100 meters, bike rental center at Sentiers du Moulin, 2 minutes away.
Cross-country skiing: Sentiers Du Moulin, 2 minutes away.
Ski lifts: Le Relais (10 minutes), Stoneham (25 minutes), Mont-Ste-Anne (1 hour), or Le Massif (1 hour and 15 minutes).
Ice skating: 3 km natural skating rink on the lake (Lac Beauport, 10 minutes).
Microbrewery: Archibald (10 minutes).
Dog sledding: Pourvoirie du Lac-Beauport (15 minutes).
Snowmobiling: Pourvoirie du Lac-Beauport (15 minutes).
First Nations Village: Wendake (25 minutes).
Nightlife: Quebec City (25-30 minutes).
Top Restaurants: Quebec City (25-30 minutes).
Old Quebec and Château Frontenac: 30 minutes.
Scandinavian spa (nearest): Siberia Spa (10 minutes).
Scandinavian spa (recommended): Le Ström (30 minutes).
Montmorency WatterFalls: 30 minutes.
Ice Hotel: Valcartier (30 minutes).
Tube Snow Sliding: Valcartier (30 minutes).
Indoor (winter) and Outdoor (summer) Water Park: Valcartier (30 minutes).
National Park: Parc de la Jacques-Cartier (45 minutes) (snowshoeing, fat biking, hiking, skishoeing, tubing, kicksledding).
National Park (recommended): Parc National des Grands Jardins (1 hour and a half)</string>
		<key>images</key>
		<array>
			<string>https://a0.muscache.com/im/pictures/miso/Hosting-46695796/original/38bc8081-9415-453a-b8bf-9f4aeb146819.jpeg?im_w=1200</string>
		</array>
	</dict>
	<dict>
		<key>assistant_id</key>
		<string>asst_2hpahEsCydN5He4I9b4Et9JB</string>
		<key>id</key>
		<string>34113796</string>
		<key>location</key>
		<string>Abiansemal, Indonesia</string>
		<key>title</key>
		<string>Aura House 2bds Eco Bamboo House, Pool, River View</string>
		<key>capacity</key>
		<string>4 guests • 2 bedrooms • 2 beds • 2 bath</string>
		<key>distance</key>
		<string>1500 miles away</string>
		<key>availability</key>
		<string>5 nights * June 2- 7</string>
		<key>rating</key>
		<string>4.84</string>
		<key>url</key>
		<string>https://www.airbnb.com/rooms/34113796</string>
		<key>description</key>
		<string>Aura house is a beautiful &amp; unique eco bamboo house built on the west bank of the River Ayung facing east to catch sunrise. Aura House is situated 25min away from Ubud, and 35min away from Canggu.

IF WE ARE FULLY BOOKED, PLEASE CHECK OUR AIRBNB PROFILE (CLICK ON OUR PROFILE PICTURE) TO FIND 10 MORE BEAUTIFUL BAMBOO HOUSES, ALL BASED IN THE SAME AREA
The space
Aura House is perched on top of the Ayung river offering a beautiful view. It features 2 very romantic en-suite bedrooms, a large living room fully furnished, a small kitchen, and a private swimming pool with view.
It is the perfect gateway for adventurous couples and honeymoon.
The whole house is private - it is just for you and your guests,

We are very proud to have in Aura House one of the famous egg shaped door built by the designer company Ibuku. It is the entrance of the second bedroom.

The atmosphere of Aura House is perfect for people looking to disconnect from their busy city life and/or nature enthusiasts. Be ready to be awaken by the sun peeking up into your room and the sounds of the river down below.

IF WE ARE FULLY BOOKED, PLEASE CHECK OUR AIRBNB PROFILE (CLICK ON OUR PROFILE PICTURE) TO FIND 12 MORE BEAUTIFUL BAMBOO HOUSES, ALL BASED IN THE SAME AREA - GREEN VILLAGE
Guest access
Guests may also access our communal space, which includes a natural pool, bamboo pavilion for dining, and our communal kitchen restaurant where guests may order order breakfast, lunch, snacks, drinks and dinner from a selection of local traditional Balinese and Indonesian favorites and Western cuisine options. Guests may choose to eat in our communal dining space or we can deliver meals to your accommodation.

IF WE ARE FULLY BOOKED, PLEASE CHECK OUR AIRBNB PROFILE (CLICK ON OUR PROFILE PICTURE) TO FIND 10 MORE BEAUTIFUL BAMBOO HOUSES, ALL BASED IN THE SAME AREA
Other things to note
Part of our attraction is that we are set in a very natural environment, and whilst there a couple of local village stores nearby with some very basic supplies, we are 15 mins away the main road. We can help buy supplies for guests, but we do recommend guests bring along any personal supplies needed such as snacks, fruits, drinks.

Also, from time to time you might be disturbed by mosquito and other insects (we are in the rain forest after all!). We provide to our guests natural repellent products to reduce as much as possible these nuisances.

What can you do at Aura House ?
We are very happy to organise for our guests couple massages, yoga sessions, petals bath (all in-house), airport pick-up, and Bamboo related workshops and tours.

IF WE ARE FULLY BOOKED, PLEASE CHECK OUR AIRBNB PROFILE (CLICK ON OUR PROFILE PICTURE) TO FIND 10 MORE BEAUTIFUL BAMBOO HOUSES, ALL BASED IN THE SAME AREA</string>
		<key>images</key>
		<array>
			<string>https://a0.muscache.com/im/pictures/e25a9b25-fa98-4160-bfd1-039287bf38b6.jpg?im_w=960</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>49986215</string>
		<key>location</key>
		<string>Half Moon Bay, California</string>
		<key>title</key>
		<string>Camper/RV in Half Moon Bay, California</string>
		<key>capacity</key>
		<string>2 guests • 1 bedroom • 2 beds •1 bath</string>
		<key>distance</key>
		<string>50 miles away</string>
		<key>availability</key>
		<string>5 nights * Feb 4- 9</string>
		<key>rating</key>
		<string>4.97</string>
		<key>url</key>
		<string>https://www.airbnb.com/rooms/49986215</string>
		<key>description</key>
		<string>On 9 private acres overlooking the stunning Beach and Pacific ocean from a breathtaking cliff top view. Stunning sunrises and sunset greet you in this fully equipped new 2022 Airstream. Fully loaded with all the amenities to make your glamping experience perfect. Fire pit, outside BBQ, outside griddle, A/C and fully stocked kitchen. Comes will full bathroom with shower. Truly a rare experience and located within 10 mins of Half Moon Bay shopping. Beach access short walk or drive.
The space
These unmatched views and private location comes fully loaded with the new Airstream. Features all the amenities, comfort and ease associated with Airstream living

Perfectly placed higher on a cliff over looking the Beach; this original experience will offer the most intimate, unreal and calming views around.

About The Airstream:

New Airstream with two beds; (Queen) and Double convertible.

Parking next to the Airstream

2 adults fit comfortably on the spacious queen size bed with views overlooking the ocean and beach

Convertible double bed located in the dinette area

AC units inside Airstream

Surround sound blue tooth speakers

TVs and Bluetooth speaker

Gas stove top

Large closet with hangers

Cozy blankets

Separate shower and bathroom with hot-water

Full kitchen

large microwave

Refrigerator with freezer unit

Pots/pans, utensils and basic cooking needs (oil, spices, S&amp;P)

Pour-over coffee

Dishware, coffee mugs, glasses, cocktail and wine glasses

Outdoor living:

large fire pit with custom Adirondack chairs

S&apos;mores sticks w/ complimentary S&apos;more making kit!!!

Gas BBQ

Separate outdoor gas griddle top

Set of retraceable lawn chairs

Games, books and fun

Wifi throughout
Guest access
9 acres of property and trails.
Other things to note
No children please: safety reasons. 2 guest limit.</string>
		<key>images</key>
		<array>
			<string>https://a0.muscache.com/im/pictures/38691cf9-b5c6-4052-bc79-60ea4a6ace72.jpg?im_w=1200</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>889189502572660333</string>
		<key>location</key>
		<string>San Francisco, CA</string>
		<key>title</key>
		<string>Relaxing Bay view home w/ hottub</string>
		<key>capacity</key>
		<string>5 guests • 2 bedrooms • 2 beds •2 baths</string>
		<key>distance</key>
		<string>75 miles away</string>
		<key>availability</key>
		<string>5 nights * Feb 1-6</string>
		<key>rating</key>
		<string>4.96</string>
		<key>url</key>
		<string>https://www.airbnb.com/rooms/889189502572660333</string>
		<key>description</key>
		<string>Built in 1950, this Mid-Century Modern gem has stunning views of the San Francisco Bay from every room in the house. It is well equipped with modern appliances, two bedrooms (w/ awesome beds), two bathrooms, a super cozy couch. The home is very private w/ outdoor spaces galore and your own bubbling hot tub. Whether you come here to relax or play, you will love how tranquil the space is. Minutes to downtown Oakland and the Zoo with easy access to San Francisco.
Other things to note
Welcome Friends!

Relaxing Bay View Home w/ Hot Tub
2 bedrooms, 2 bathrooms
Max # of Occupants: 5
Max # of Animals: 2
*Please read out entire listing before booking :)

When you enter the home you will be greeted by sweeping views of Oakland, SF and the Bay. There are Bay views from every room in the house and the sunsets are to die for. The upper floor is open concept and boasts the living room, office, dining room, kitchen, bedroom with full bed and full bathroom. The living room couch is incredibly comfortable and this is where your fifth guest may sleep.

The lower level is a primary suite with King bed and its own full bathroom. The bathtub is a little funky (previously refinished and starting to show wear in the finish) but the water pressure is exceptional. A second office/walk in closet and laundry area completes this level.

The hot tub is located right off the primary bathroom and can also be accessed down the side stairs by the succulent garden. The views from the hot tub are exceptional and the hot tub is covered allowing for cozy tubs during any type of weather. During the warmer summer and fall months we suggest turning the hot tub down from 104 degrees to 100 degrees. It makes for a more refreshing visit.

HIGHLIGHTS
1. Stunning Bay Views &amp; Sunsets
2. Bubbling Hot Tub
3. Very private Indoor &amp; Outdoor Spaces
4. Pet Friendly!
5. Cosy House Bedding &amp; Towels
6. Surrounded by Nature

OUR NEIGHBORHOOD
Our neighborhood is very friendly and there is a 10 acre open space off-leash dog park nearby with lovely hiking trails that wrap around the hill. The views and nature are incredibly satisfying and we hope you have a chance to check explore.

GETTING AROUND
Our neighborhood is central to everything in Oakland, however it is also very much off the beaten path. Please plan for most travel requiring a car. It is 8 minutes to the nearest grocery store, 8 minutes to the Oakland Zoo, 10 minutes to Downtown Oakland/BART, and 20-60 minutes to San Francisco depending upon traffic. The best times of day to travel are between 9am and 2pm to avoid traffic on the highways.

PARKING
Guests are welcome to park in the driveway, just in front of the driveway gate. There is also ample street parking. Given that the front gate can be mechanically temperamental, we are not offering secured parking or garage access at this time.

AIR CONDITIONING
Please note that we do not have AC. Oakland&apos;s hottest month is October, although July - November can average between 72 and 80 degrees. In October the temperature can reach the mid 90&apos;s and on very rare days, 100 degrees. There are three ceiling fans on the upper level and a window AC unit in the upper bedroom if you really need to cool off. We&apos;ve found that keeping the blinds, doors and windows closed on the upper floor in the morning keeps the house nice and cool through the afternoon. We specifically picked the blinds on the upper floor to keep the sun out but allow the views in so you will not be without beautiful vistas while you stay cool.

SMART TV(s)
Please note that while we do have Smart TV&apos;s, we DO NOT offer cable TV. There is an app via Samsung that allows you to watch many additional channels, but the primary feature we offer is the ability to login and stream your own services such as Netflix, Apple TV, Hulu, etc from either TV. Please be sure to log out of your apps before you leave!

PET FEE
There is a $75 pet fee per pet and your pets must be:
a) well-behaved
b) house trained

PET RULES
1. 2 dogs max!
2. Make sure they go potty outside and pick up their poop.
3. Trim their nails (especially big dogs) before your arrival as to avoid any additional damage to the hardwood floors.
4. Do not leave them unattended in the house, unless they are crated.
5. Do not let them on the couch/bedding if they are heavy shedders. A cozy dog bed has been provided for them to use.
6. If you intend to let them outside unattended, walk the property to ensure that all gates are closed and that they cannot jump the fence (some large dogs are incredible jumpers!).
7. Keep them leashed on walks in the neighborhood.
8. Wipe their feet and do not let them in on the carpet with wet or muddy paws.

HOUSE RULES
Our house rules are simple, first and foremost, enjoy yourself! You are here to relax and rejuvenate. With that in mind, please adhere to the following house rules while you enjoy your stay:

Quiet Hours:
Quiet hours are 11PM-8AM. You are still welcome to hot tub during the hours between, but please no loud music or conversation.

No shoes inside:
Please remove your shoes when in the home, especially on the carpet downstairs.

No smoking inside the home:
Please remember that there is NO SMOKING of any kind inside the home. What you do outside of the home is up to you. If you do smoke, please use a can or bottle to dispose of your butts and throw them in the outside trash when you leave.

Shower Before You Hot Tub:
Please be sure to rinse off before entering the hot tub. The objective is to make sure all hair products, lotions, and natural body oils are rinsed away before entering the spa sanctuary.

Our hot tub technician (Tony) will service the hot tub every Monday between 12pm and 2pm. There’s nothing you need to do but be aware of this as he will let himself onto the property to do the job. Please wait at least one hour after he&apos;s gone to enjoy the tub again. This will allow the water to come back to a balanced state before you enjoy it.

REVIEWS
We kindly ask for your understanding and compassion when sharing feedback about our home. We understand that each experience can vary, and what might not meet one person&apos;s expectations may exceed another&apos;s. We genuinely value your input, appreciate your feedback and are committed to making this the most comfortable home you&apos;ve ever visited. Should you need help with anything or have questions about something that will improve your stay, please do not hesitate to reach out during your stay so that we can help you.

Thank you kindly
Georgia + Asher</string>
		<key>images</key>
		<array>
			<string>https://a0.muscache.com/im/pictures/7accc1b8-639d-4bd1-be75-9da488c4b0dc.jpg?im_w=1200</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>680532366698763136</string>
		<key>location</key>
		<string>Capitola, California</string>
		<key>title</key>
		<string>Five Bedroom Beachfront Home in Capitola Village</string>
		<key>capacity</key>
		<string>12 guests • 5 bedrooms • 6 beds • 3 baths</string>
		<key>distance</key>
		<string>25 miles away</string>
		<key>availability</key>
		<string>3 nights * Feb 10 - 13</string>
		<key>rating</key>
		<string>4.89</string>
		<key>url</key>
		<string>https://www.airbnb.com/rooms/680532366698763136</string>
		<key>description</key>
		<string>This is a beautiful, iconic, beachfront property in the famous Capitola Village overlooking the water. This is one of the iconic &quot;Six Sisters&quot; properties that have not been available to rent in years! You can enjoy a charming brightly lit 5 bedroom home with a patio area just a few steps to the sand, restaurants, and shops! The home is fully equipped with everything you need for a wonderful vacation away from home, and plenty of entertainment if you choose to spend the night in or out!
The space
- Comfortably sleeps up to 12 adults
- 5 bedrooms
- 2 bathrooms - Please note: The upstairs bathroom is shared and is pass way to the back 2 bedrooms, due to the historic build there is not a lock on the bathroom door to the back bedrooms.
- 1 designated parking space + 1 parking permit for street parking
- Fully stocked kitchen w/ drip coffee maker
- Cozy living room with ocean view
- Front patio with BBQ &amp; plenty of seating

Note:
- No gatherings or parties allowed (strictly enforced)
- The exterior of this home is monitored by 24/7 surveillance recording devices for safety.
- Smart TVs with streaming capabilities (no local channels or cable).
- NO PETS

Permit: 22-0337
Guest access
Guests will have access to the whole house, other than a few closets reserved for storage.
Other things to note
- This neighborhood is very lively and on a main road, so there is some traffic noise throughout the day and occasionally at night.
- Please keep in mind, parking can be quite tough in Capitola Village, there is one onsite parking spot and we provide a permit so a second vehicle can park in town for free.
- The layout of this house is a little unique and two bedrooms upstairs must pass through a common bathroom. For safety reasons, the bathroom door to the back rooms does not have a lock.
- We are required to stick to our cancellation policy and we suggest adding trip insurance for any last minute issues that may impact your travel (Weather, Illness, etc). We are not able to cancel, move or refund bookings that do not fall in our cancellation policy for any reason.
- We have landscapers, pest service, and other property maintenance done on a weekly basis. You may see or hear these service professionals during your stay as they let themselves into the backyard to service as needed. Please be sure to ask about this before booking if you think it might be an issue for you.
- TV is a smart tv with streaming capabilities. There are no cable or local channels.
- The exterior of this home is monitored by 24/7 surveillance recording devices for safety.

***Please note: If you are booking this property during an event, the parking spot may not be available as the city of Capitola will often times block off Esplanade for these events. There is a parking pass inside the home that you can use to park around the village***</string>
		<key>images</key>
		<array>
			<string>https://a0.muscache.com/im/pictures/prohost-api/Hosting-680532366698763136/original/17f39935-3104-40db-9510-b1387190c346.jpeg?im_w=1200</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>677112</string>
		<key>location</key>
		<string>Bolton, New York</string>
		<key>title</key>
		<string>&apos;Highlands Castle&apos; overlooking Lake George!</string>
		<key>capacity</key>
		<string>4 guests • 3 bedrooms • 4 beds •1 bath</string>
		<key>distance</key>
		<string>500 miles away</string>
		<key>availability</key>
		<string>5 nights * Feb 10- 15</string>
		<key>rating</key>
		<string>4.80</string>
		<key>url</key>
		<string>https://www.airbnb.com/rooms/677112</string>
		<key>description</key>
		<string>HIGHLANDS CASTLE overlooking Lake George!
Includes 2 Bedroom Suites and The Great Hall.
&apos;The Royal Bedroom&apos; for 1 couple.
&apos;The King&apos;s Suite&apos; for 2 guests.

We have 2 OTHER CASTLES on this property!
Our 3-CASTLES sleep 16-21 GUESTS:
1) HIGHLANDS CASTLE sleeps 2-8
2) CASTLE COTTAGE sleeps 2-6
3) CASTLE GATEHOUSE sleeps 2-7

Poised on a graceful mountaintop overlooking majestic Lake George, your castle awaits!

*UP TO 26 NON-OVERNIGHT GUESTS ARE ALLOWED ON PROPERTY FOR AN EXTRA FEE of $198/PERSON
The space
Highlands Castle is a hidden jewel in a private setting, yet only 3-minutes from downtown Bolton Landing with the conveniences of a supermarket, gourmet restaurants, wine store, brewery, unique shops, 2-public parks with picnic areas, 2-public beaches, swimming, fishing, kayaking, tennis, golf, miniature golf, hiking trails, bicycling, boat rentals, scenic boat cruises, and more!
Guest access
Our &quot;2-Suites for 2-Couples&quot; package is a unique getaway for an unforgettable experience! Includes two elegant bedroom suites and access to &apos;The Great Hall&apos; located in the center or heart of Highlands Castle, plus our outdoor terraces with the most spectacular views in the world! Miles of breathtaking, panoramic vistas of Lake George are yours to enjoy!

Guests will have access to the most impressive spaces of the castle including the main entryway, foyer, vestibule area, the Great Hall, music room/library, and the first-floor half bath (in addition to their 2 bedroom suites). The Great Hall is our grandest room of the castle with 25&apos; high ceilings and 21 windows overlooking beautiful Lake George and the Adirondack Mountains. (Note: The Great Hall is curtained off from a private kitchen &amp; family room where the owners reside).

*The upstairs Lakeview &apos;ROYAL BEDROOM&apos; sleeps 1 couple.
*The downstairs &apos;KING&apos;S SUITE&apos; sleeps 2 guests.
(The King&apos;s Suite can sleep up to 6 guests ($125/night per guest over 4)
Each suite has a mini-fridge and a coffee maker.

The &apos;KING SUITE&apos; features an adjoining screened-in covered terrace, plus another outside lower terrace, and both have spectacular lake views!

WE HAVE TWO (2) OTHER CASTLES ON THIS SAME PROPERTY:
(Search the Airbnb links to our 2 other castles).
1.) &apos;CASTLE COTTAGE&apos;... our adorable mini-castle overlooking Lake George sleeps 4-6 guests and is located just steps away from Highlands Castle.

2.) &apos;CASTLE GATEHOUSE&apos; sleeps 4-7 guests and is nestled in a wooded setting at the entrance to our property.

Are you looking for a unique setting for a small family gathering, special occasion, birthday party, anniversary celebration, reunion, etc.? (See below):

HIGHLANDS CASTLE is available to rent for a &apos;FAMILY RENTAL&apos;.
Our FAMILY RENTAL option allows you (the guest) to invite up to 30 people to Highlands Castle from 4-8 pm for an extra fee of $198/person. Note: Book your overnight stay through Airbnb, but inviting &apos;non-overnight guests&apos; to the property is outside the parameters of Airbnb, so contact us directly to discuss your specific details. (Dates are available starting May-Oct).

Highlands Castle is incomparable to all other places. That is what sets us apart. You won&apos;t find a more magical setting to share time with your loved ones!
During your stay
The owners, John &amp; Yvonne, live in their section of Highlands Castle (upstairs bedroom, family room &amp; kitchen) which guests do not have access to.
Your privacy will always be respected, but please know we&apos;re available (via phone, text, email, or in person) if there&apos;s anything you need during your stay.
Other things to note
Downtown Shopping: Take a relaxing stroll down Main Street and enjoy all the amenities that Bolton Landing has to offer! You&apos;ll discover fine gift stores, a wine store, brewery, clothing apparel, antique shops, museum, hair salon, pastry shop, and ice cream parlors!

Fun Activities: LAKE GEORGE, America&apos;s queen lake is 32-miles long, for all to enjoy! There&apos;s local hiking trails, bicycle trails, bike rentals, scenic boat cruises, boat rentals, jet skiing, canoeing, kayaking, swimming, fishing, water tubing, whitewater rafting, golf, miniature golf, horseback riding, basketball, tennis, skiing, snowboarding, and adventure sports! There’s plenty to do and see while you’re here including 2-public parks, picnic areas, and 2-beaches!

Experience the natural wonders of Lake George and our Adirondack paradise!
The memories of Highlands Castle and the Lake George region will last a lifetime!

Please consider purchasing &apos;travel insurance&apos; to safeguard you from unforeseen circumstances.</string>
		<key>images</key>
		<array>
			<string>https://a0.muscache.com/im/pictures/a57ab9ea-80d5-4ed0-aa15-ce536039778d.jpg?im_w=960</string>
		</array>
	</dict>
</array>
</plist>
