chatgpt_demo/.venv/*
**/.DS_Store*
**/*.sqlite3*
**/*.xcuserstate*
**/*.xcuserdatad*
constants.py
chatgpt_demo/db.sqlite3
chatgpt_demo/chatgpt_demo/__pycache__/*
chatgpt_demo/.env
ChatGPTDemoiOS/ChatGPTDemo/ChatGPTDemo.xcodeproj/project.xcworkspace/xcuserdata/*